body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 100vw;
  height: 100vh;
}

.flex-1 {
  flex: 1;
}

.background-left {
  background: #ffe259; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffa751,
    #ffe259
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffa751,
    #ffe259
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.background-right {
  background: #ffe259; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #ffa751,
    #ffe259
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #ffa751,
    #ffe259
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.background-body {
  background: 'EDF5E1';
}

.create-post {
  width: 320px;
  max-width: 420px;
  height: 30px;
  background: #f0f2f5;
  margin-top: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  filter: brightness(1);
}

.create-post:hover {
  filter: brightness(0.8);
}

.ant-list {
  width: 100%;
}

.post {
  border-top-right-radius: '8px';
  border-top-left-radius: '16px';
  border-bottom-right-radius: '8px';
  border-width: '1px';
  border-style: 'solid';
  border-color: 'lightgrey';
  margin-top: '16px';
  padding: '16px';
  display: 'flex';
  justify-content: 'space-between';
}

.ant-btn-icon {
  font-size: 10px;
}

.App {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.App::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
